# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/
.env

# IDE
.idea/
.vscode/
*.swp

postgres_data/
pgdata/

*.log

media/
staticfiles/

key.pem
cert.pem
mkcert.exe
cert.crt
cert.key
app.log
